
.login{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 350px;
    height: 400px;
    margin: 5rem auto;
    border: 1px solid #222;
}
h3{
   margin-bottom: 2rem;
   margin-top: -4rem;
   font-size: 22px;
}
.login_text{
    /* margin-bottom: 2rem; */
    /* margin-top: -2rem; */
}
form{
    display: flex;
    flex-direction: column;
   
    
}
.custom_input{
    padding: 5px;
    width: 300px;
    font-size: 17px;
    border-radius: 8px;
    outline: none;
    background-color: #fff;

}
.error{
    color: red;
}
.forgot-password{
    display: flex;
   align-self: flex-end;
  
}
.login_btn{
    padding: 8px;
    width: 50%;
    margin: 1rem auto;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    background:rgb(18, 43, 48);
    color:#fff
}